*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Satoshi', sans-serif;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd700;
  max-width: 100%;
  margin: 0 auto;
  /* max-width: 72rem; */
  height: 50px;
}
.header h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: -0.41px;
  text-align: center;
}

/* Navbar section */

nav {
  background: #f3f3f3;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 72rem;
  /* padding: 0 2rem; */
  /* height: 59px; */
  margin: 0 auto;
  /* margin-top: 10px; */
}

.nav-links {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  list-style: none;
  /* width: 434px; */
  /* height: 12px; */
}

.nav-links li {
  margin-left: 15px;
}

.nav-links li a:hover {
  color: #ffd700;
}

.nav-links li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: -0.41px;
  text-align: left;
  color: #000;
  transition: 0.3s ease-in-out all;
}

.navbar h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: -0.41px;
  color: #000;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: Fixed 247px;
  height: Hug 59px;
  gap: 26px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 73px;
  height: 24px;
  cursor: pointer;
  transition: 0.3s ease-in-out all;
}

svg:hover {
  fill: #ffd700;
  cursor: pointer;
}

.login {
  width: 148px;
  height: 59px;
  padding: 16px 24px 16px 24px;
  border-radius: 100px;
  background-color: #ffd700;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  border: none;
  transition: 0.3s ease-in-out all;
  cursor: pointer;
}

.login:hover {
  background: transparent;
  border: 1px solid black;
}

.category-container {
  width: 688px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  width: 100%;
  max-width: 72rem;
  /* padding: 0 2rem; */
  /* height: 59px; */
  margin: 0 auto;
  margin-top: 120px;
}

.category-container h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 64.8px;
  text-align: center;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 688px;
  height: 59px;
}
.btn-active {
  background-color: #202020;
}

.btn {
  /* width: 148px; */
  height: 59px;
  padding: 16px 24px 16px 24px;
  border-radius: 100px;
  color: #202020;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  text-align: center;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
/* 
.btn:first-child {
  background-color: #202020;
  color: #fff;
} */

.btn:hover {
  background-color: #202020;
  color: #fff;
}

.align {
  width: 100%;
  max-width: 72rem;
  margin: 0 auto;
  padding: 0 2rem;
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showcase-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 40px;
  column-gap: 20px;
}

.menu-container {
  width: 100%;
  height: 420px;
  border-radius: 30px;
  border: 1px solid #ebebeb;
  display: flex;
  flex-direction: column;
  position: relative;
}

.menu-container img {
  margin-top: 1rem;
  width: 199px;
  max-height: 186px;
  align-self: center;
}

.love-icon {
  position: absolute;
  top: 14px;
  left: 331px;
}

.line {
  width: 100%;
  border: 1px solid #ebebeb;
}
.desc-container {
  /* width: 364px; */
  padding: 5px;
  height: 174px;
  /* border: 1px solid black; */
  /* margin: 0 auto; */
}

.title {
  font-size: 16px;
  font-weight: bold;
  line-height: 21.6px;
  color: #131d15;
  margin-top: 10px;
}

.review {
  font-size: 10px;
  font-weight: 700;
  line-height: 13.5px;
  color: #131d15;
  /* text-align: left; */
}

.text {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  /* text-align: left; */
  color: #333333;
  margin-top: 10px;
  width: 370px;
  height: 48px;
  margin-bottom: 2rem;
}

.price-container {
  width: 364px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid black; */
  margin-top: 1rem;
}

.price {
  font-size: 12px;
  font-weight: 500;
  line-height: 16.2px;
  text-align: left;
  color: #333;
}

.d-price {
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
  text-align: left;
  color: #131d15;
}

.btn-view {
  /* width: 113px; */
  height: 47px;
  padding: 16px 24px 16px 24px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #202020;
  align-text: center;
  color: #fff;
  font-family: 'Satoshi', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.9px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.btn-view:hover {
  background: transparent;
  color: #000;
  border: 1px solid black;
}

.btn-showcase {
  width: 173px;
  height: 47px;
  padding: 16px 24px 16px 24px;
  border-radius: 50px;
  outline: none;
  border: none;
  font-weight: bold;
  background-color: #ffd700;
  /* align-self: center; */
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.btn-showcase:hover {
  background: transparent;
  border: 1px solid black;
}

.footer {
  width: 100%;
  height: 1004px;
  background: #131d15;
  padding: 108px 174px 818px 174px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.footer h2,
p {
  color: #fff;
}

.footer > * h2 {
  font-size: 58px;
  font-weight: 700;
  width: 1092px;
  line-height: 78.3px;
  text-align: center;
  margin-top: 120px;
}

.footer > * p {
  font-size: 24px;
  font-weight: 400;
  line-height: 32.4px;
  text-align: center;
}

.float1,
.float2,
.float3 {
  position: absolute;
}

.float1 {
  top: -100px;
  right: -0.1px;
}

.float2 {
  top: 230px;
  right: -30px;
}

.float3 {
  top: 150px;
  left: -20px;
}

.footer-container {
  width: 95%;
  height: 444px;
  bottom: 34px;
  margin: 0 auto;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
}

.footer-inner {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  margin-top: 90px;
  /* border: 1px solid black; */
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 500px;
}

.footer-left-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-left h2 {
  font-size: 32px;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: -0.41px;
  text-align: left;
  color: #131d15;
  margin-top: 0;
}

.footer-left > * p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.41px;
  text-align: left;
  color: #131d15;
  display: inline-block;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  margin-top: 20px;
}
.footer-social:hover {
  cursor: pointer;
}

.copyright {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.41px;
  text-align: left;
  color: #131d15;
  margin-top: 20px;
}

.footer-links {
  margin-top: 40px;
}

.footer ul {
  list-style-type: none;
}

.footer a {
  text-decoration: none;
  color: #000;
  border-bottom: 1.5px solid black;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.41px;
  text-align: left;
}

.footer-links ul {
  display: flex;
  gap: 10px;
}

.footer-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 500px;
  gap: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.41px;
  text-align: left;
}

.footer-right {
  margin-bottom: 15px;
}

.footer-right h3 {
  margin-bottom: 15px;
}
.right-list li {
  margin-bottom: 15px;
}

/* Cart Styles */

.cart {
  width: 100vw;
  background-color: #f6f6f5;
}

.cart-container {
  width: 1240px;
  display: flex;
  /* border: 2px solid black; */
  margin: 50px auto;
  align-items: flex-start;
  gap: 40px;
  justify-content: center;
}

.cart-container-left {
  width: 784px;

  padding: 42px 54px 42px 54px;
  border-radius: 15px;
  background-color: #fff;
}

.shopping {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 4rem;
  gap: 10px;
}

.cart-items-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 676.48px;
  padding: 13px 0px 13px 0px;
  border-bottom: 1px solid #dcdcdc;
}

.box {
  width: 132.48px;
  height: 128px;
}

.box .image {
  width: 100%;
}

.cart-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  /* gap: 50px; */
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 200px;
  cursor: pointer;
  /* gap: 20px; */
}

.shuffle-container {
  display: flex;
  align-items: center;
}

.amount {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  color: #131d15;
}

.cart-container-right {
  width: 300px;
  padding: 28px 10px 28px 10px;
  border-radius: 15px;
  background-color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.order-summary {
  width: 250px;
}

.order-summary h3 {
  margin-bottom: 3rem;
}
.line-order-summary {
  margin-bottom: 2rem;
}
.cost-price {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}

.subtotal,
.shipping,
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.order-button {
  width: 100%;
  height: 47px;
  padding: 16px 24px 16px 24px;
  border-radius: 50px;
  background-color: #202020;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  border: none;
}

.order-button:hover {
  background: transparent;
  color: black;
  border: 1px solid black;
}

/* Checkout styles */

.checkout {
  width: 100vw;
  /* height: 100vh; */
  margin: 0 auto;
  background-color: #f6f6f5;
}

.checkout-container {
  width: 1240px;
  display: flex;
  /* border: 2px solid black; */
  margin: 50px auto;
  align-items: flex-start;
  gap: 40px;
  justify-content: center;
}

.checkout-container-left {
  /* width: 784px; */
  /* height: 823px; */
  padding: 42px 54px 42px 54px;
  border-radius: 15px;
  background-color: #fff;
  margin-bottom: 50px;
}

.check-contain {
  width: fit-content;
  /* height: 823px; */
}

.checkout-container-right {
  width: 483px;
  /* height: Fixed (516px)px; */
  padding: 10px;
  /* gap: 10px; */
  border-radius: 15px;
  background-color: #fff;
}

.checkout-summary {
  width: 463px;
  /* height: Hug (472px)px; */
  padding: 25px 10px 25px 10px;
}
.right-form {
  /* width: 400px; */
  /* height: 351px; */
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  /* border: 1px solid black; */
}

input,
label {
  display: block;
  margin-bottom: 5px;
}

.right-label {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #131d15;
}

.right-input {
  padding: 1rem;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  width: 100%;
}

.two-column {
  display: flex;
  gap: 10px;
}

.left-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: -0.41px;
  text-align: left;
  color: #a1a1a1;
}

.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 537px;
  gap: 15px;
  margin-bottom: 2rem;
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 162px;
  /* height: 47px; */
  padding: 16px 24px 16px 24px;
  gap: 5px;
  border-radius: 10px;
  border: 1px solid #131d15;
  font-size: 20px;
  font-weight: 500;
  line-height: 18.9px;
  text-align: center;
  cursor: pointer;
}

.left-form {
  /* border: 1px solid black; */
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.text-box {
  width: 273px;
  height: 45px;
  /* padding: 13px 0px 13px 0px; */
  /* gap: 26px; */
  /* border: 0px 0px 1px 0px; */
  /* opacity: 0px; */
  /* border-bottom: 0.5px solid black; */
  margin-bottom: 1rem;
  border-bottom: 1px solid #dcdcdc;
}

.left-input {
  border: none;
}

input:focus {
  border: none;
  outline: none;
}

/* Product section */
.container {
  /* padding: 20px; */
  max-width: 72rem;
}

/* .back-link {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.product-section {
  display: flex;
}

.product-image img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-info {
  padding: 20px;
}

.product-info h1 {
  margin-top: 0;
}

.product-rating {
  display: flex;
  align-items: center;
}

.product-rating span {
  margin-right: 10px;
}

.product-colors {
  margin-top: 20px;
}

.color-options {
  display: flex;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.color.red {
  background-color: red;
}

.color.orange {
  background-color: orange;
}

.color.blue {
  background-color: blue;
}

.product-details button {
  margin-right: 10px;
}

.product-size,
.product-make {
  margin-top: 20px;
}

.product-size div,
.product-make div {
  display: flex;
  justify-content: space-between;
}

.reviews-section {
  margin-top: 40px;
}

.review {
  display: flex;
  margin-bottom: 20px;
}

.review-user {
  display: flex;
  align-items: center;
}

.review-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.review-content {
  margin-left: 20px;
}

.review-rating {
  margin-left: auto;
  align-self: center;
}

.similar-products {
  margin-top: 40px;
}

.similar-products h2 {
  margin-bottom: 20px;
}

.product-card {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.product-card img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  margin-right: 20px;
}

.product-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card-info h3 {
  margin: 0;
}

.product-card-info .product-rating {
  display: flex;
  align-items: center;
}

.product-card-info .product-rating span {
  margin-right: 10px;
}

.product-card-info button {
  align-self: flex-start;
} */

/* Payment success */
.Payment-success-container {
  background-color: #131d15;
  width: 1440px;
  height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

.payment-success-container-inner {
  /* width: 100%; */
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.success-container {
  width: 400px;
  height: 300px;
  padding: 20px;
  border-radius: 18px;
  border: 3px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-top: 100px;
}

/* .circle {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.success-button {
  width: 300px;
  height: 60px;
  padding: 16px 24px 16px 24px;
  /* gap: 10px; */
  border-radius: 50px;
  background: #202020;
  color: #fff;
  transition: 0.3s all ease-in-out;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.success-button:hover {
  background: transparent;
  color: #000;
  border: 1px solid #000;
}
